<div class="container">
    <div class="col-md-12 margin-top-5per article-block">
        <h1 class="text-center">ブログの更新</h1>
        <%= image_tag 'maseraty.jpg', class: 'padding-top-15px article-image' %>
        <div class="padding-bottom-15px">
            <%= render 'form', article: @article %>
        </div>
    </div>
</div>
