@import "bootstrap-sprockets";
@import "bootstrap";
@import "articles";

body {
    background-color: #f5f5f5;
}

.margin-top-5per{
    margin-top: 5%;
}

.title{
    font-size: 20px;
}

.article-block{
    background-color: white;
    border: 1px solid #BBBBBB;
}

.padding-top-15px{
    padding-top: 15px;
}

.padding-bottom-15px{
    padding-bottom: 15px;
}

.article-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
}